{
  "CN": "system:node:{{ ansible_nodename }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
    "C": "NL",
    "L": "Driehuis",
    "O": "system:nodes",
    "OU": "CA",
    "ST": "Noord Holland"
    }
  ]
}
